<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact footer-links">
          <h3>iSPACE</h3>
          <p>
            The Proxynet House, 5B Adedeji close,<br />
            off Opebi road,<br />
            Ikeja ,<br />
            Lagos
            <br />
            <strong>Phone:</strong
            ><a href="tel:+234 8124019660" style="color: #444444"
              >+234 8124019660</a
            ><br />
            <strong>Email:</strong>
            <a href="mailto:info@proxynetgroup.com " style="color: #444444"
              >info@proxynetgroup.com
            </a>
          </p>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="./contact.html">More Contact</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="./index.html">Home</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="./about.html">About us</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="./Competions.html">Competitions</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="./competitions-details.html">Terms of service</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Competitions</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="./competitions-details.html">Coding</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="./competitions-details.html">Robotics</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="./competitions-details.html">Graphic Design</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Join Our Newsletter</h4>
          <p>Be the first to get updated on the new up-coming competition</p>
          <form action="mailto:info@proxynetgroup.com" method="post">
            <input placeholder="Enter email" type="email" name="email" /><input
              type="submit"
              value="Subscribe"
            />
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">
    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; Copyright <strong><span>Proxynet Communications</span></strong
        >. All Rights Reserved
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
</footer>
<!-- End Footer -->
