<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <!-- <h1 class="logo me-auto"><a href="index.html">Ispace</a></h1> -->
    <!-- Uncomment below if you prefer to use an image logo -->
    <a href="index.html" class="logo me-auto"
      ><img src="assets/img/ispace-logo (2).png" alt="Ispace" class="img-fluid"
    /></a>

    <%- include('./partials/nav.ejs') %>

    <a href="./events.html" class="get-started-btn">Get Started</a>
  </div>
</header>
<!-- End Header -->
