<nav id="navbar" class="navbar order-last order-lg-0">
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a class="active" href="about.html">About</a></li>
    <li><a href="Competitions.html">Competitions</a></li>
    <li><a href="events.html">Events</a></li>

    <li class="dropdown">
      <a href="./awards.html">Awards <i class="bi bi-chevron-down"> </i></a>
    </li>
    <ul>
      <li>
        <a href="./awards.html#primary"
          ><span class="drop"> Primary / Upper Elementary</span></a
        >
      </li>
      <li>
        <a href="./awards.html#secondary"
          ><span class="drop"> Secondary / Middle School</span></a
        >
      </li>
    </ul>

    <li><a href="contact.html">Contact</a></li>
    <li><a href="./FAQ.html">FAQs</a></li>
  </ul>
  <i class="bi bi-list mobile-nav-toggle"></i>
</nav>
